* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
    font-family: 'Playfair Display', serif;
    color: #626262;
}

.header {
    min-width: 320px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navigation {
    text-align: center;
}

.menu {
    list-style: none;
}

.menu-list {
    margin: 10px 0;
    
}

.menu-link {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    transition: 200ms;
    letter-spacing: 1px;
}

.menu-link:hover,
.menu-link:focus {
    color: #a41bf3;
}

.content {
    min-width: 320px;
}

.content-item {
    max-width: 420px;
    margin: 20px 0;
}

.content-img {
    display: block;
    width: 100%;
}

.content-subtitle {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #b4ad9e;
    margin: 5px 0;
    padding-left: 5px;
}

.content-title {
    font-size: 30px;
    padding:0 5px;
    margin-bottom: 10px;
}

.content-text {
    font-size: 14px;
    padding: 0 5px;
}

.button {
    text-align: center;
}

.btn {
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 30px;
    width: 100px;
    height: 30px;
}
