* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header-wrapper {
    background: -webkit-linear-gradient(45deg, rgba(158,246,247,0.1) 0%, rgba(158,246,247,0.1) 7%, rgba(0,128,128,1) 100%),url(../img/main-bg.jpeg);
    background: -ms-linear-gradient(45deg, rgba(158,246,247,0.1) 0%, rgba(158,246,247,0.1) 7%, rgba(0,128,128,1) 100%);
    background: -o-linear-gradient(45deg, rgba(158,246,247,0.1) 0%, rgba(158,246,247,0.1) 7%, rgba(0,128,128,1) 100%);background: -ms-linear-gradient(45deg, rgba(158,246,247,0.3) 0%, rgba(158,246,247,0.34) 7%, rgba(0,128,128,1) 100%);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
    /* position: relative; */
}

.header-content {
    max-width: 660px;
    margin: 0 auto;
}

.main-title {
    font-size: 110px;
    margin: 150px 0 55px 0;
    text-align: center;
    text-transform: uppercase;
    background: url(../img/bg-title.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-btn {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: #ff497c;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    letter-spacing: 2px;
    transition: box-shadow .3s linear;
}

.header-btn:hover {
    -webkit-box-shadow: -2px 3px 43px 8px rgba(255,73,124,0.98);
    -moz-box-shadow: -2px 3px 43px 8px rgba(255,73,124,0.98);
    box-shadow: -2px 3px 43px 8px rgba(255,73,124,0.98);
}

.header {
    max-width: 1110px;
    margin:0 auto 100px;
}

.nav {
    max-width: 660px;
    margin: 0 auto;
}

/* Navigation bar */

.menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.menu-link {
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    transition: .3s ;
}

.menu-link:hover {
    transform: scale(1);
}

.menu-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff497c;
    transition: .3s;
    transform-origin: right;
    transform: scale(0);
    z-index: -1;
}

.menu-link:hover::before {
    transform: scale(1);
} 

/* .menu-link::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background: #ff6347;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .3s linear;
} */

/* .menu-link:hover::after,
.menu-link:focus::after {
    opacity: 1;
    background: #ff6347;
}

/* .menu-link:hover,
.menu-link:focus {
    color: #ff6347;
} */

.section-title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 60px;
    color: #665e5a;
    position: relative;
    margin-bottom: 120px;
}

.section-title::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 5px;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #665e5a;
}

/* main section-content */

.section-wrapper {
    max-width: 1110px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 100px;
}

.section-card {
    width: 351px;
    height: 350px;
    position: relative;
}

.section-card-img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: .7s
}

.section-card:hover .section-card-img {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
}

.section-card-info {
    display:grid ;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #665e5a;
    width: 350px;
    height: 350px;
    padding: 0 10px;
}

.card-title {
    text-transform: uppercase;
    color: #ffffff;
    margin: 5px 0;
}

.card-text {
    color: #ffffff;
    font-size: 14px;
}

.card-link {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    width: 100px;
    height: 30px;
    display: inline-block;
    text-align: center;
    border: .5px solid #fff;
    line-height: 30px;
    /* border-radius: 5px; */
    margin: auto;
    transition: .2s linear;
    cursor: pointer;
}

.card-link:hover {
    background-color: #ff497c;
}

/* Second section-info Parallax */

.wrapper {
    max-width: 1110px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.static-box-title {
    font-size: 30px;
    color: #665e5a;
    margin: 30px 0; 
}

.static-box-text {
    margin-bottom: 30px;
}

.static-box-text::first-letter {
    font-size: 25px;
    color: #ff497c;
    font-weight: 700;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.bg-parallax1 {
    background-image: url(../img/bg1.jpg);
}

.bg-parallax2 {
    background-image: url(../img/bg2.jpg);
}

.bg-parallax3 {
    background-image: url(../img/bg3.jpg);
}

.bg-parallax4 {
    background-image: url(../img/bg4.jpg);
}
