* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.text,
.subtitle {
    font-family: 'Open Sans', sans-serif;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
}

.header {
    background-image: url(../img/header-bg/Photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100%;
}

.container {
    max-width: 940px;
    width: 100%;
    padding: 0 5px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 310px;
}

.logo__box {
    font-family: 'Domine', serif;
    background-color: #fa5c65;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px
}

.logo__title {
    display: flex;
    font-size: 20px;
    color: #fff;
    position: relative;
}

.logo__title::after {
    content: '';
    position: absolute;
    bottom: 4px;
    right: -5px;
    width: 3px;
    background-color: #314a5b;
    width: 3px;
    height: 3px;
}

.logo__link {
    text-decoration: none;
}

.menu {
    display: flex;
    list-style: none;
}

.menu_list {
    margin-left: 40px;
    padding: 30px 0 40px;
}

.menu_list:first-child {
    margin-left: 0;
}

.menu__link {
    color: #263742;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    transition: color .2s linear;
}

.menu__link i {
    font-size: 16px;
}

.menu__link:hover {
    color: #fa5c65;
}

.header__content {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #314a5b;
    margin-bottom: 380px;
}

.header__title {
    font-size: 48px;
    position: relative;
    margin-bottom: 30px;
}

.span--red {
    color: #fa5c65;
}

.header__subtitle {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 45px;
}

.header__btn {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: 170px;
    height: 64px;
    background-color: #fa5c65;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

/* Section__work -----------------------------
--------------------------- */

.work__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 110px;
}

.work__box {
    flex: 33%;
    margin-right: 60px;
}

.work__box:last-child {
    margin-right: 0;
}

.work__title {
    color: #465065;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 30px;
}

.work__text {
    font-size: 15px;
    color: #9aa0ab;
    margin-bottom: 30px;
}

.work__link {
    font-weight: 600;
    color: #fa5c65;
}

/* Section__portfolio----------------
------ */

.portfolio__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    grid-template-rows: 296px;
    margin-bottom: 110px;
}

.portfolio__bg {
    background: url(../img/portfolio/1.jpg) center,no-repeat;
}

.portfolio__title {
    font-size: 40px;
    margin-bottom: 10px;
    color: #314a5b; 
}

.portfolio__subtitle {
    font-size: 16px;
    color: #314a5b;
    font-weight: 600;
    margin-bottom: 20px;
}

.portfolio__text {
    font-size: 15px;
    color: #9aa0ab;
    margin-bottom: 50px;
}

/* section__team -------------------------

------------*/

.team__content {
    text-align: left;
}

.team__title {
    font-size: 32px;
    color: #314a5b;
    margin-bottom: 20px;
    font-weight: 700;
}

.team__subtitle {
    color: #9aa0ab;
    font-size: 16px;
}

.team__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 60px;
}

.team__box {
    display: flex;
    align-items: flex-start;
    flex: 25%;
    margin-right: 20px;
}

.team__box:last-child {
    margin-right: 0;
}

.team__info {
    padding-left: 20px;
}

.title__info {
    font-size: 22px;
    color: #314a5b;
    margin-bottom: 15px;
}

.subtitle__info {
    color: #f0454c;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

.text__info {
    font-size: 14px;
    color: #9aa0ab;
}

.team__btn {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
    border-bottom: 1px solid #e6eaed;
}

.footer__inner {
    
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.social {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
}

.icon__link {
    color: #b9c0c6;
    margin-right: 10px;
    font-size: 25px;
    transition: color .2s linear;
}

.icon__link:hover {
    color: #f0454c;
}

.copyright {
    font-size: 13px;
    color: #b9c0c6;
}