* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #b1b4b8;
}

/* header---------------------------

header */

.header {
    height: 100vh;
    max-width: 100%;
    background-image: url(../img/header/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 190px;
    padding: 40px 0;
    border-bottom: 1px solid #505369;
}

.nav__bar {
    display: flex;
    list-style: none;
}

.nav__item {
    margin-left: 60px;
}

.nav__item:first-child {
    margin-left: 0;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

.nav__link {
    padding: 5px;
    color: #cbccd3;
    font-weight: 700;
    transition: color .2s linear;
}

.nav__link:hover,
.nav__link:focus {
    color: #fff;
}

.header__text-box {
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
    /* padding-bottom: 157px; */
}

.header__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.1;
    margin-bottom: 44px;
}

.header__subtitle {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 80px;
}

.header__btn {
    width: 200px;
    height: 50px;
    color: #fff;
    background-color: #e84545;
    font-size: 13px;
    font-weight: 600;
    line-height: 50px;
    margin: 0 auto;
    transition: background-color .2s linear;
}

.header__btn:hover,
.header__btn:focus {
    background-color: #eb2424;
}

/* Section Features -------------------------------

Section Feature*/

.features__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin: 120px 0;  
}

.features__item {
    position: relative;
    width: 33.3333%;
    text-align: center;
    margin-bottom: 0 80px;
    padding: 40px;
}

.features__title {
    text-transform: uppercase;
    color: #2d3033;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
}

.features__text {
    line-height: 1.5;
}

.features__img {
    margin-bottom: 30px;
}

/* Section__works ---------------------
------------------------------- */

.works__inner {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 350px);
    gap: 1px;
    margin-bottom: 100px;
}

.bg {
    position: relative;
    background-size: cover;
    transition: all .2s linear;
}

.works__img--1 {
    background: url(../img/works/1.jpg) no-repeat;
}

.works__img--2 {
    background: url(../img/works/2.jpg) no-repeat;
}

.works__img--3 {
    background: url(../img/works/3.jpg) no-repeat;
}

.works__img--4 {
    background: url(../img/works/4.jpg) no-repeat;
}

.works__img--5 {
    background: url(../img/works/5.jpg) no-repeat;
}

.works__img--6 {
    background: url(../img/works/6.jpg) no-repeat;
}

.works__img--7 {
    background: url(../img/works/7.jpg) no-repeat;
}

.works__img--8 {
    background: url(../img/works/8.jpg) no-repeat;
}

.works__info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .2s linear;
}

.bg:hover .works__info {
    opacity: 1;
}

.bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69,.9);
    opacity: 0;
    transition: opacity .2s linear;
}

.bg:hover::before {
    opacity: 1;
}

.works__title {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    margin-bottom: 15px;
}

.works__text {
    color: #fff;
    font-weight: 300;
}

/* Section Team-----------------------------------_
------------------------------------------------ */

.team__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.team__card {
    max-width: 270px;
    transition: box-shadow .2s linear;
}

.team__card:hover {
    box-shadow: 6px 10px 12px 2px rgba(198,202,204,1);
}

.img-box {
    margin-bottom: 20px;
}

.card__img {
    display: block;
    max-width: 100%;
}

.card__title {
    font-size: 22px;
    font-weight: 400;  
    color: #2d3033;
    margin-bottom: 13px; 
    padding: 5px;
}

.card__subtitle {
    text-transform: uppercase;
    color: #e84545;
    font-size: 13px;
    margin-bottom: 20px;
    padding: 5px;
}

.card__text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 5px;
}

.social__icon {
    padding-bottom: 20px;
    padding: 5px;
}

.social__inner {
    display: flex;
}

.icon {
    width: 40px;
    height: 40px;
    border: 1px solid #c6cacc;
    border-radius: 4px;
    margin-right: 5px;
    position: relative;
    transition: all .2s linear;
}

.icon:hover {
    background-color: #e84545;
    border: none;
    box-shadow: 4px 3px 4px 0px rgba(198,202,204,0.8);
}

.icon__link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: #c6cacc;
    font-size: 18px;
    padding: 10px;
    transition: color .2s liner;
    display: block;
}

.icon:hover .icon__link {
    color: #fff;
}

/* SEction testotimonials ------------------------
------------------------------------------------- */

.testotimonials__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
}

.image {
    width: 100%;
}

.img-slider {
   max-width: 100%;
   display: block;
   object-fit: fill;
}

.image__content {
    background-color: #53354a;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__content {
    max-width: 500px;
    color: #fff;
}

.slider__text {
    font-size: 36px;
    margin-bottom: 40px;
    font-style: italic;
}

/* Section Download ---------------------
-
----------------- */

.download__inner {
    text-align: center;
    color: #2d3033;
    margin-bottom: 100px;
}

.download__text {
    font-size: 28px;    
    font-weight: 300;
    margin-bottom: 20px;
}

.download__subtext {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 40px;
}

.download__btn {
    width: 280px;
    height: 50px;
    margin: 0 auto;
    background-color: #e84545;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    transition: all .2s linear;
}

.download__btn:hover {
    background-color: #eb2424;
}

/* footer ----------------------------
--------------------------------------- */

.footer {
    background-color: #3a3e64;
}

.footer__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 70px;
    padding-bottom: 100px;
    font-size: 14px;
    color: #fff;
}

.footer__location {
    text-align: center;
}

.footer__title {
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer__text {
    color: #9092a7;
}

.footer__share {
    text-align: center;
}

.social__footer {
    justify-content: center;
}

.footer__icon {
    border: 2px solid #fff;
}

.footer__icon:hover {
    box-shadow: none;
}

.footer-icon__link {
    color: #fff;
}

.subfooter {
    background-color: #313454;
}

.subfooter__inner {
    padding: 30px 0;
    text-align: center;
    color: #808080;
}

.fa-heart {
    color: #eb2424;
    padding-right: 3px;
}

.subfooter__link {
    text-decoration: none;
    color: #fff;
}



