@font-face {
     font-family: 'ProximaNova';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/ProximaNova-Regular.woff'); 
     src: local('ProximaNova'), local('ProximaNova-Regular'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'), 
   }
   
   @font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ProximaNova-Bold.woff'); 
    src: local('ProximaNova'), local('ProximaNova-Bold'),
       url('../fonts/ProximaNova-Bold.woff') format('woff'), 
  }