* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ProximaNova',sans-serif;
}

.link {
    text-decoration: none;
}

.upheader__inner {
    background-color: #101010;
}

.upheader__box {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 10px;
    color: #7e7e7e;
    padding: 17px 0;
    margin: 0 auto;
    position: relative;
    transition: color .2s linear;
}

.upheader__link {
    padding: 5px 5px;
    transition: color .2s linear;
}

.upheader__link:hover {
    color: #ffffff;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
}

.upheader {
    padding-left: 200px;
}

.img__logo {
    display: block;
}

.logo__link {
    display: block;
}

.upheader__link {
    color: #7e7e7e;
    margin-left: 27px;
}

.upheader__link:first-child {
    margin-left: 0;
}

.nav {
    background-color: #fff;
}

.nav__inner {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.menu {
    display: flex;
    list-style: none;
    padding-left: 170px;
}

.menu__list:first-child {
    border-left: 1px solid #ebebeb;
}

.menu__link {
    font-size: 17px;
    font-weight: 700;
    color: #070707;
    display: block;
    width: 96px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ebebeb;
    transition: all .2s linear;
}

.nav__bar {
    display: flex;
}

.nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 66px;
    border-right: 1px solid #ebebeb;
    color: #4c4c4c;
    transition: all .2s linear;
}

.nav__link:first-child {
    border-left: 1px solid #ebebeb;
}

.menu__link:hover,
.menu__link:focus {
    background-color: #ff6600;
    color: #ebebeb;
}
.nav__link:hover,
.nav__link:focus {
    background-color: #ff6600;
    color: #ebebeb;
}

.header__inner {
    background: url(../img/header-bg/1.jpg) center,no-repeat;
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 320px;
}

.logo__company {
    position: absolute;
    left: 48%;
    top: 30%;
    width: 80px;
}

.img__logo--company {
    width: 80px;
    display: block;
}

.logo__company::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -32px;
    width: 70px;
    height: 2px;
    background-color: #ff6600;
}

.header__title {
    font-size: 80px;
    color: #fff;
    font-weight: 700;
    letter-spacing:-3px;
    margin-bottom: 15px;
    position: relative;
}

.header__title::before {
    content: '';
    position: absolute;
    left: -45%;
    top: 50%;
    width: 50px;
    height: 1px;
    background-color: #fff;
}

.header__title::after {
    content: '';
    position: absolute;
    right: -45%;
    top: 50%;
    width: 50px;
    height: 1px;
    background-color: #fff;
}

.header__subtitle {
    color: #bfbfbf;
    font-size: 20px;
    margin-bottom: 95px;
}

.header__btn {
    width: 170px;
    height: 50px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    text-transform: uppercase;
    color: #fff;
    transition: background-color .2s linear;
}

.header__btn:hover {
    background-color: #ff6600;
    border: none;
}

/* banners
--------
-
--
-
-------*/
.banner__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: -61%;
    transform: translateX(-50%);
    
}

.banner__box {
    background: url(../img/banners/1-2.png);
    background-color: #ff6600;
    width: 590px;
    height: 400px;
    z-index: 1;
    position: relative;
}

.snickers {
    background: url(../img/banners/2-1.png);
    background-color: #d4d4d4;
}

.banner__inner {
    position: absolute;
    top: 0;
    right: 0;
    width: 590px;
    height: 400px; 
}

.banner__border {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 503px;
    height: 266px;
    border: 5px solid #fff;
    background-image: url(../img/banners/1.png);
    background-position: -50px -52px;
}

.snickers__border {
    background-image: url(../img/banners/2.png);
}

.banner__title {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 240px;
}

.banner__box--title {
    display: inline;
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    background-color: #ff6600;
    line-height: 1;
}

.title__snickers {
    background-color: #d4d4d4;
}

.banner__box--link {
    position: absolute;
    left: 7%;
    bottom: 8%;
}

.banner__btn {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    margin-right: 30px;
    cursor: pointer;
}

.banner__btn:last-child {
    margin-right: 0;
}

.fa-chevron-right {
    padding-left: 20px;
}

/* section__blog-----------------
-----------
------------------ */
.blog {
    background-color: #f4f4f4;
}

.blog__textbox {
    text-align: center;
    letter-spacing: -2px;
    padding-top: 468px;
    padding-bottom: 100px;
}

.blog__title {
    font-size: 48px;
    font-weight: 700;
}

.blog__subtitle {
    font-size: 20px;
    letter-spacing: -1px;
}

.blog__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 590px;
    padding: 0 11px;
}

.blog__item {
    overflow: hidden;
}

.blog__img {
    display: block;
}

.blog__item--col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 295px;
}





