/* Main styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link {
    text-decoration: none;
    display: block;
}

/* Header */

.header {
    position: relative;
    background-image: url(../img/header/1.webp);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background-color: rgba(38, 52, 58, 0.6);
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
    padding-bottom: 320px;
}

.logo__link {
    color: #fff;
    text-transform: uppercase;
}

.logo {
    font-size: 30px;
    z-index: 2;
}

.logo span {
    color: #4bcaff;
}

.menu {
    list-style: none;
    display: flex;
}

.menu__list {
    margin-left: 50px;
}

.menu__list:first-child {
    margin-left: 0;
}

.menu__list {
    position: relative;
}

.menu__link {
    position: relative;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    transition: opacity .2s linear;
}

.menu__link::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border: 3px solid #4bcaff;
   padding: 17px 45px;
   opacity: 0;
   transition: opacity .2s linear;
}

.menu__link:hover::before {
    opacity: 1;
}

.menu__link:hover {
    color: #4bcaff;
}

.active {
    color: #4bcaff;
}

.active::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border: 3px solid #4bcaff;
   padding: 17px 45px;
   opacity: 1;
}

.header__content {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 270px;
}

.header__title {
    display: inline;
    line-height: 1.5em;
    font-size: 42px;
    font-weight: 100;
    color: #fff;
    background-color: rgba(38, 52, 58, 0.7);
}

/*Section__ Services ------------------------------*/

.services {
    background-color: #4bcaff;
    width: 100%;
}

.section__title--box {
    padding-top: 70px;
}

.section__title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    position: relative;
}

.section__title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    width: 50px;
    background-color: #fff;
}

.services__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.services__item {
    position: relative;
    margin-right: 30px;
}

.services__item:last-child {
    margin-right: 0;
}

.item__bg {
    background-size: contain;
    background-repeat: no-repeat;
    width: 45px;
    height: 55px;
    position: absolute;
    left: 4px;
    top: 50px;
}

.bg--1 {
    background-image: url(../img/services/1.png);
}

.bg--2 {
    background-image: url(../img/services/2.png);
}

.bg--3 {
    background-image: url(../img/services/3.png);
}

.bg--4 {
    background-image: url(../img/services/4.png);
}

.services__info {
    padding-top:125px;
    color: #fff;
}

.info__title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.info__text {
    font-size: 12px;
    font-weight: 400;
}

/* Section__portfolio----------------------- */

.black {
    color: #515f67;
}

.black::after {
    background-color: #515f67;
}

.section__nav {
    padding: 80px 0;
}

.link--color {
    color: #626f76;
}

.active--color {
    color: #4bcaff;
}

.portfolio__inner {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-items: center;
    grid-row-gap: 10px;
    margin-bottom: 80px;
}

.portfolio__inner {
    position: relative;
}

.portfolio__item {
    position: relative;
    cursor: pointer;
}

.portfolio__item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 270px;
    background-color: rgba(81, 95, 103, .8);
    opacity: 0;
    transition: opacity .2s linear;
}

.portfolio__item:hover::before {
    opacity: 1;
}

.plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    opacity: 0;
    transition: opacity .2s linear;
}

.portfolio__item:hover .plus {
    opacity: 1;
}

/* Section__default ---------------------------- */

.default {
    background-color: #515f67;
    width: 100%;
}

.default__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    padding-bottom: 80px;
}

.item__text {
    padding-top: 55px;
    color: #fff;
    font-size: 14px;
    padding-bottom: 40px;
    line-height: 2em;
}

.item__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 45px;
    border: 2px solid #353f46;
    color: #353f46;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    transition: all .2s linear;
}

.item__link:hover {
    background-color: #4bcaff;
    color: #fff;
    border: none;
}

.default__item--bg {
    padding-top: 80px;
    background: url(../img/video/1.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 560px;
    height: 316px;
}

/* TWITTER--------------------------------- */

.twitter {
    background-color: #4bcaff;
}

.twitter__inner {
    position: relative;
    padding-bottom: 80px;
}

.twitter__text {
    padding-top: 50px;
    font-size: 28px;
    color: #fff;
    font-weight: 300;
}

.twitter__link {
    color: #fff;
    font-weight: 700;
}

.twitter__icon {
    position: absolute;
    font-size: 28px;
    color: #fff;
    right: 0;
    top: 75px;
}


/* Section__Whois *-------------------------- */

.whois {
    background-image: url(../img/john/1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.whois__inner {
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

.icon__wrapper {
    display: flex;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    margin-right: 10px;
    font-size: 30px;
}

.icon:last-child {
    margin-right: 0;
}

.icon__link {
    color: #fff;
    transition: color .2s linear;
}

.link--1:hover {
    color: #4bcaff;
}

.link--2:hover {
    color: #e63232;
}

.link--3:hover {
    color: #e64a0c;
}

.link--4:hover {
    color: #3f08c0;
}

/* Section__testimonials----------------------- */

.testimonials__inner {
    position: relative;
    margin-bottom: 80px;
}

.testimonials__text {
    margin-top: 50px;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 50px;
}

.testimonials__link {
    font-size: 14px;
    font-weight: 700;
    color: #4bcaff;
}

.testimonials__icon {
    position: absolute;
    font-size: 28px;
    color: #515f67;
    right: 0;
    top: 75px;
}

/* Section__contact------------------------------ */

.contact {
    background-image: url(../img/contact/1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.contact__inner {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 70px;
}

.form {
    grid-column: 1 / 2;
}

.text__info {
    padding-top: 18px;
    grid-column: 2 /4;
    grid-row: 1 / 3;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.9em;
}

.contact__text:first-child {
    margin-bottom: 35px;
}

.form__input,
.form__textarea {
    display: flex;
    flex-direction: column;
}

label {
    margin: 5px 0;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

input {
    background-color: transparent;
    border: 1px solid #fff;
    width: 80%;
    height: 60px;
    margin-bottom: 40px;
    font-size: 16px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
    height: 220px;
    background-color: transparent;
    border: 1px solid #fff;
    width: 200%;
    font-size: 16px;
    color: #fff;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact__btn {
    margin-top: 40px;
    width: 370px;
    height: 60px;
    border: none;
    background-color: #4bcaff;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: background .2s linear;
}

.contact__btn:hover {
    background: #00b3ff;
}

/* footer------------------------------- */

.footer {
    background-color: #353f47;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}

.footer__links {
    display: flex;
}

.footer__link {
    display: inline-block;
    color: #515f67;
    margin-right: 30px;
    padding-right: 15px;
    border-right: 1px solid #515f67;
    font-size: 12px;
    text-transform: uppercase;
    transition: color .2s linear;
}

.footer__link:hover {
    color: #fff;
}

.footer__link:last-child {
    margin-right: 0;
    border-right: none;
    padding-right: 0;
}

.date {
    font-size: 12px;
    color: #515f67;
}

/* media----------------------------- */

@media (max-width: 1130px) {
    .portfolio__inner {
        display: grid;
        grid-template-columns: repeat(2, 50%);

    }
}

@media (max-width: 1024px) {
    .default__inner {
        display: grid;
        grid-template-columns: 1fr; 
    }

    .default__item--bg {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-top: 50px;
    }
}

@media (max-width: 987px) {
    .whois__inner {
        padding-bottom: 100px;
    }

    .text__info {
        display: none;
    }

    textarea {
        width: 170%;
    }
    
}

@media (max-width: 811px) {
    .header::before {
        height: 100px;
    }

    .nav {
        padding: 25px 0;
        padding-bottom: 220px;
    }

    .header__content {
        padding-bottom: 150px;
    }

    .section__title--box {
        padding-top: 50px;
    }

    .services__inner {
        padding-bottom: 50px;
    }

    .section__nav {
        padding: 50px 0;
    }

    .default__inner {
        padding-bottom: 50px;
    }

    .twitter__inner {
        padding-bottom: 50px;
    }

    .testimonials__inner {
        margin-bottom: 50px;
    }

    textarea {
        width: 150%;
    }

    .footer__inner {
        padding: 50px 0;
    }

    @media (max-width: 728px) {
        .menu {
            display: none;
        }

        .nav {
            display: flex;
            justify-content: center;
        }

        textarea {
            max-width: 100%;
        }

    }

    @media (max-width: 576px) {
        .header::before {
            height: 80px;
        }
    
        .nav {
            padding: 20px 0;
            padding-bottom: 120px;
        }

        .header__title {
            font-size: 32px;
        }

        .services__inner {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
        }

        .portfolio__inner {
            display: grid;
            grid-template-columns: 100%;
        }

        .default__item--bg {
            background-position: left;
            width: 425px;
            height: 200px;
        }

        .whois__inner {
            grid-template-columns: 1fr;
        }

        .whois__text {
            padding-top: 0;
        }

    }

    @media (max-width: 447px) {
        .services__inner {
            display: grid;
            grid-template-columns: 100%;
            justify-items: end;
        }

        .services__item {
            margin-right: 0;
            text-align: center;
        }

        .item__bg {
            left: 50%;
            top: 50px;
            transform: translateX(-50%);
        }

        .default__inner {
            grid-template-columns: 100%;
        }

        .default__item--bg {
            width: 290px;
            height: 216px;
        }
    }

    @media (max-width: 375px) {
        .header__title {
            font-size: 22px;
        }

        .nav {
            padding-bottom: 150px;
        }

        .header__content {
            padding-bottom: 216px;
        }

        .section__title--box {
            padding-top: 30px;
        }

        .section__nav {
            padding: 30px 0;
        }

        .default__inner {
            padding-bottom: 50px;
        }

        .item__text {
            padding-top: 35px;
            padding-bottom: 20px;
        }

        .twitter__text {
            padding-top: 30px;
            font-size: 22px;
        }

        .testimonials__text {
            margin-top: 35px;
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 30px;
        }

        .testimonials__icon {
            display: none;
        }

        input {
            height: 45px;
            margin-bottom: 20px;
            width: 100%;
        }

        textarea {
            width: 100%;
        }

        .contact__btn {
            width: 290px;
            height: 40px;
        }

        .footer__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            padding: 20px 0;
        }

        .footer__links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        .footer__link {
            padding: 10px 0;
            border-right: none;
            margin-right: 0;
        }

    }

}




