@media (max-width: 768px) {
	.navigation {
		display: none;
	}

	.header-wrapper {
		display: flex;
		justify-content: center;
	}
}

@media (max-width: 425px) {
	.featured-list {
		display: flex;
		justify-content: center;
	}
}
